<h1 class="display-4 text-center mb-3">Search Results</h1>
<div class="row">
    {{#each story}}
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center mb-2">
                {{truncate title 40}}
            </div>
            {{#if image}}
            <img class="card-image rounded-circle  mx-auto" src="/images/{{image}}"></img>
            {{else}}
            <p class="lead text-center no-image">No Image</p>
            {{/if}}
            <div class="card-body text-center">
                <p class="lead">Category: <strong>{{category}}</strong></p>
                <p>Posted by  <strong> {{user.firstName}} {{user.lastName}}</strong></p>
            </div>
            <a href="/stories/show/{{id}}" class="btn btn-light">
                Read more</a>
        </div>
    </div>
    {{else}}
    <p>No Posts found</p>
    {{/each}}
</div>